@charset "utf-8";

/* CSS Document */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
dl,
dt,
dd,
ul,
ol,
li,
p,
blockquote,
pre,
hr,
figure,
table,
caption,
th,
td,
form,
fieldset,
legend,
input,
button,
textarea,
menu {
    margin: 0;
    padding: 0;
}

html,
body,
fieldset,
img,
iframe,
abbr {
    border: 0;
}

textarea {
    overflow: auto;
    resize: none;
}

input {
    outline: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a,
button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
em,
strong,
b {
    font-weight: normal;
    font-style: normal;
}

a,
a:hover {
    text-decoration: none;
}

html {
	width: 100%;
	min-width: 1200px;
}

@weiff: "\5FAE\8F6F\96C5\9ED1", "Microsoft YaHei";
@heiff: "\9ED1\4F53", "黑体";
@songff: "\5B8B\4F53", "宋体";
@placehColor: #454545;
@fontColor: #fff;

::-webkit-input-placeholder {
    /* WebKit browsers */
    color: @placehColor;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: @placehColor;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: @placehColor;
}

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: @placehColor;
}

input,
textarea,
a,
div,
button,
select {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}